.imgbody{
	padding-top: 20px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.heading{
	text-align: center;
	font-family: fantasy;
}

.cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.seconddiv{
	width: auto;
}