/* body{
    margin: 0%;
} */

.imgbody {
    padding-top: 20px;
    /* height: 100vh; */
    background-image: url("https://images.unsplash.com/photo-1557682257-2f9c37a3a5f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbG9yc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.header2 {
    text-align: center;
    font-family: fantasy;
    color: darkcyan;
    font-size: 50px;
}

#heading {
    text-align: center;
	font-size: 50px;
	font-family: fantasy;
	font-weight: bold;
}

.compcard{
	padding-bottom: 60px;
    /* margin-left: 20%;
    margin-right: 20%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}