
.footer-container {
  // background: linear-gradient(to right, rgb(131, 131, 206) 0%, black 100%);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7),
    rgb(131, 131, 206),
    rgba(0, 0, 0, 0.3)
  );
  color: #fff;
  position: relative;
  margin-bottom: 0%;
  bottom: 0;
  width: 100%;
  height: 250px;
}
.list-container {
  position: absolute;
  left: 100px;
  top: 1rem;
  padding-bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .title {
    .companyname {
      font-size: 2rem;
      color: #b8d1f1;
      list-style-type: none;
    }
    p {
      color: #fff;
    }

    .address {
      .phno {
        text-decoration: none;
        color: #ffffff;
      }

      .phno:hover {
        color: red;
      }

      p {
        margin: 10px 0;
      }
    }
  }
  .details {
    margin-left: 70rem;
    margin-top: 2rem;
    .list-footer li {
      padding: 10px;
      list-style-type: none;
    }
    a {
      color: #d2d0d0;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
    }
    .list-footer li:hover {
      text-decoration: underline;
    }
  }
  .socialmedia {
    h3 {
      text-align: left;
    }
    ul {
      list-style-type: none;
      margin-top: 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
      a {
        text-decoration: none;
      }
      @media (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // justify-content: center;
        // align-items: center;
      }
    }
  }
  .teamsandpolicy {
    .policy {
      margin-top: 5px;
      margin-left: 0px;
    }
    li {
      padding: 10px;
      a {
        color: #aab2bd;
      }
    }
    li:hover {
      text-decoration: underline;
    }
  }
}
.licence {
  p {
    text-align: center;
    padding: 0px 20px 20px 0px;
    a {
      // font-size: 1.4rem;
      color: #1a73e8;
    }
  }
}
