.seconddiv{
	height : 390px;
	width: 100%;
	margin: 20px;
}

.div21{
	width:100%;
	float: left;
	/* margin-left:35%; */
	padding-top: 30px;
	height:120px;
}

.artpic{
	width: 100%;
	height:100%;
	/* margin-left: 200px; */
}

.para1{
	/* margin-left: 200px; */
	color: darkturquoise;
	display: block;
}
