.seconddiv {
    height: 350px;
    padding: 15px;
    padding-bottom: 30px;
    
}

.seconddiv:hover{
    box-shadow: 4px 4px 10px 4px  #888888;
}

.div21 {
    /* width: 50%; */
    float: left;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    height: 120px;
    align-items: center;
}

.artpic {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para1 {  
    width: 100%;
    font-size: 20px;
    font-weight: 900;
}

.para1link
{
    text-decoration: none;
    color: whitesmoke;
}

.para1link:hover{
    text-decoration: underline;
    color: gold;
}