.Book{
  padding-bottom: 70px;
  margin-right: 7%;
  margin-left: 7%;
  background-image: url('https://images.unsplash.com/photo-1634655377962-e6e7b446e7e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80');
    background-repeat: none;
    background-size: cover;
    margin: 0%;
}

.search {
  padding-top: 1rem;
  border-radius: 90px;
  align-items: center;
  width: 30%;
  position: relative;
  left: 35rem;
  padding-bottom: 2rem;
}

.shows{
  position: relative  ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-body{
  padding: 5 rem;
  border-radius:90%;
}
.location{
  left: 88rem;
  position: relative;
  font-size: 18px;
}

.loc{
  left: 88rem;
  position: relative;
  background-color: gray;
  text-decoration-color: white;
  border-radius: 10%;
  font-size: 16px;
}