.search {
  padding-top: 1rem;
  border-radius: 90px;
  align-items: center;
  width: 30%;
  position: relative;
  left: 35rem;
  padding-bottom: 2rem;
}

.shows{
  position: relative  ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-body{
  padding: 4rem;;
}
.location{
  left: 88rem;
  position: relative;
  font-size: 18px;
}

.loc{
  left: 88rem;
  position: relative;
  background-color: gray;
  text-decoration-color: white;
  border-radius: 10%;
  font-size: 16px;
}