* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.component {
  /* margin-top: 10%;
  margin-left: 30%;
  margin-bottom: 5%; */
  /* margin: 70px;
   */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 30px;
  width: 60%;
  max-width: 1000px;
  margin: 50px auto;
  /* border: 2px #000; */
}

.fields {
  font-size: 22px;
}

.heading {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.inp {
  padding: 15px;
  font-size: 18px;
  width: 300px;
  border: 2px #000;
}

.gender {
  display: inline;
  font-size: 24px;
}

.title {
  font-family: inherit;
  font-size: 22px;
}

.txtarea {
  height: 100px;
  width: 40%;
  font-size: 22px;
  resize: none;
}

.subButton {
  padding: 10px;
  height: 55px;
  width: 120px;
  font-size: 20px;
  background-color: rgb(82, 165, 165);
  outline: none;
  border: none;
}

input {
  margin-left: 15px;
}

input[type="radio"] {
  width: auto;
  margin-left: 15px;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  margin-right: 5px;
}
