.body{
    background-image: url("https://media.istockphoto.com/photos/abstract-blur-blue-gradient-color-background-with-bokeh-round-light-picture-id1310553941?b=1&k=20&m=1310553941&s=170667a&w=0&h=ceXJ-ZDLHlygjY53FQTNp5xpQ9lqRCkjD-RMJGUSvp0=");
    background-repeat: none;
    background-size: cover;
}


.body2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.profilepic{
    padding-top: 60px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: solid;
}

.profname1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.email{
    font-family: Nanum Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.body3{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gold; */
}

.bookinghead{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.bookcourse{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.event{
    font-size: 22px;
    padding-bottom: 30px;
    padding-left: 20px;
    display: flex;
}

.artname{
    padding-right: 20px;
    font-size: 24px;
    font-family: monospace;
}

.cancel{
    color: red;
    background-color: rgb(208,239,234);
    height: 40px;
    border-radius: 30%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 19px;
}

.outbut{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: chocolate; */
    height: 100%;
}

.logout{
    padding: 15px;
    font-size: 20px ;
    color: blueviolet;
    background-color: rgb(130,228,229);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
