* {
  margin: 0;
  box-sizing: border-box;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1597423244037-519742d0a9f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.textfields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px 0;
  width: 300px;
  font-size: 18px;
  padding: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  outline: none;
}

button {
  width: 300px;
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.6);
  transform: font-size padding 500;
  cursor: pointer;
}
button:active {
  outline: none;
}

span {
  margin-top: 10px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}

.check {
  font-size: 20px;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
